services:
    kafka:
        image: apache/kafka:latest
        container_name: kafka
        ports:
            - "9092:9092"
        environment:
            - KAFKA_NODE_ID=0
            - KAFKA_PROCESS_ROLES=broker,controller
            - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
            - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
            - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
            - KAFKA_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
            - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
        
    postgres:
        image: postgres:14-alpine
        container_name: postgres
        ports:
            - "5432:5432"
        environment:
            POSTGRES_DB: db
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin
        volumes:
            - postgres_data:/var/lib/postgresql/data

    kafka-ui:
        image: provectuslabs/kafka-ui:latest
        container_name: kafka-ui
        ports:
            - "8080:8080"
        depends_on:
            - kafka
        environment:
            - KAFKA_CLUSTERS_0_NAME='cluster'
            - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS='kafka:9092'
            - DYNAMIC_CONFIG_ENABLED='true'
volumes:
    postgres_data:
